@model FileManager.ViewModels.MediaPickerViewModel
@using Orchard.Media.Extensions;
@using Orchard.Media.Helpers;
@using Orchard.Media.Services;
@using Orchard.Media.Models;
@using Orchard.UI.Resources;
@{
    var uploadAction = Url.Action("AddFromClient", "Admin", new { area = "FileManager" });
}
        <div id="image-preview">
            <img alt="" id="img-loader" style="display:none" src="" />
            <div class="media-largepreview">
                <img alt="@T("Preview of Media")" id="img-preview" src="@Url.Content("~/modules/FileManager/Styles/images/imagepreview.png")" onload="jQuery.mediaPicker.scalePreview(this)" />
                <iframe id="img-docpreview" style='width:300px; height:300px; display:none;' frameborder='0'></iframe>
            </div>
            <div>
                <label for="img-src">@T("URL for the media resource")</label>
                <input class="text-box" type="text" id="img-src" />
            </div>
            <div>
                @using(Html.BeginFormAntiForgeryPost(uploadAction, FormMethod.Post, new { id = "img-uploadform", enctype = "multipart/form-data", onsubmit="jQuery.mediaPicker.uploadMedia(this)"})) { 

                    <label for="fileUpload">@T("Upload an image from your computer")</label>
                    <input type="file" name="fileUpload" id="fileUpload"  />
                    <input class="button" type="submit" id="upload" name="submit.Upload" value="Upload" />
                    <input type="hidden" name="UploadUrl" id="UploadUrl" value="true" />
                }
                <img id="img-indicator" src="@Url.Content("~/modules/FileManager/Styles/images/synchronizing.gif")" alt="" class="throbber" />
            </div>

        </div>


        <div id="file-details">
            <fieldset>
            <ol>
                <li style="display:none;" class="img-image-items-ext">
                <label for="img-alt">@T("Alternative Text")</label>
                <input class="text-box" type="text" id="img-alt" />
                </li>

                <li style="display:none;" class="img-image-items-ext img-documents-items-ext">
                <label for="img-class">@T("Class")</label>
                <input class="text-box" type="text" id="img-class" />
                </li>

                <li style="display:none;" class="img-image-items-ext img-documents-items-ext">
                <label for="img-style">@T("Style")</label>
                <input class="text-box" type="text" id="img-style" />
                </li>

                <li style="display:none;" class="img-image-items-ext">
                <label for="img-align">@T("Alignment")</label>
                <select id="img-align">
                    <option value="">None</option>
                    <option value="left">Left</option>
                    <option value="right">Right</option>
                    <option value="top">Top</option>
                    <option value="texttop">Text Top</option>
                    <option value="middle">Middle</option>
                    <option value="absmiddle">AbsMiddle</option>
                    <option value="bottom">Bottom</option>
                    <option value="absbottom">AbsBottom</option>
                    <option value="baseline">Baseline</option>
                </select>
                </li>

                <li style="display:none;" class="img-type-none-display-style" >
                    <label for="img-display-type-none">@T("Display Style")</label>
                    <select id="img-display-type-none" disabled="disabled" >
                        <option value="inline">Inline</option>
                    </select>
                </li>

                <li style="display:none;" class="img-image-items img-video-items img-documents-items" >
                <label for="img-display">@T("Display Style")</label>
                <select id="img-display" >
                    <option value="element">Element</option>
                    <option value="inline">Inline</option>
                </select>
                </li>



                <li class="group" style="display:none;" id="img-resize">
                <div class="image-width">
                    <label for="img-width">@T("Width")</label>
                    <input class="text-box" type="text" id="img-width" />&nbsp;x
                </div>
                <div class="image-height">
                    <label for="img-height">@T("Height")</label>
                    <input class="text-box" type="text" id="img-height" />
                </div>
                </li>

                <li style="display:none;" class="img-image-items-ext img-video-items-ext img-documents-items-ext">
                <input type="checkbox" id="img-lock" checked="checked" />
                <label class="forcheckbox" for="img-lock">@T("Lock Aspect Ratio")</label>
                </li>

                <li class="actions">
                <input type="button" id="img-insert" class="button disabled" value="@T("Insert")" data-edittext="@T("Update")" />
                <input type="button" id="img-cancel" class="button" value="@T("Cancel")" />
                </li>
                </ol>
            </fieldset>
        </div>

        <script type="text/javascript">
            $("#img-display").change(function () {
                if ($(this).val() == "element") {
                    $("#img-resize").show();
                    $("." + mediaClass).show();
                }
                else {
                    $("#img-resize").hide();
                    $("." + mediaClass).hide();
                }
            });
                
        </script>