@{
    ViewBag.Title = "Folder Explorer";
}
@{Uri uri = Request.Url;}

@*Show the current directory name using page URL. *@
<h2>@Server.UrlDecode(uri.Segments.Last())</h2>

@*If we were in root folder then don't show the up one level image. *@
@if (uri.AbsolutePath.ToLower() != "/explorer/")
{
    @*Making a URL to going up one level. *@
    <a title="Parent"
        href="@uri.AbsoluteUri.Remove(uri.AbsoluteUri.Length - uri.Segments.Last().Length)">
        <img src="/Content/up.png" alt="Up" style="width: 20px; height: 20px; border: none" />
    </a>
}
<ul>
    @*Listing the directories *@
    @foreach (FolderExplorer.Models.DirModel dir in Model.dirModelList)
    {
        <li>
            <img src="/Content/folder.png" alt="Folder Logo" align="top" style="width: 20px;
                height: 20px; border: none" />
            <a href="@dir.DirName/" title="@dir.DirName">@dir.DirName</a> 
            . . . . . . @dir.DirAccessed
        </li>
    }
    @*Listing the files *@
    @foreach (FolderExplorer.Models.FileModel file in Model.fileModelList)
    {
        <li><a href="@(uri.AbsolutePath + file.FileName)" 
        title="@file.FileName" target="_blank">
            @file.FileName</a>. . . . . . @file.FileSizeText
            . . . . . . @file.FileAccessed
        </li>
    }
</ul>
